<div class="jumbotron">
  <div class="container">
    <h1>mathbin</h1>
    <h4>Write and share math on the web.</h4>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p><strong>Mathbin</strong> is jsfiddle for mathematical equations. It's a place to create, test and share mathematical equations. Visit the homepage anytime to be greeted by a random equation from the community. Developed and maintained by <strong>Chitharanjan Das</strong>. <em>Powered by Mathjax.</em></p>
       </div>
    </div>
</div>
